[submodule "spinner"]
	path = spinner
	url = ../spinner
[submodule "boomstick"]
	path = boomstick
	url = ../boomstick
[submodule "glextract"]
	path = glextract
	url = ../glextract
[submodule "crosscompile"]
	path = crosscompile
	url = ../crosscompile/
